<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <th:block th:insert="~{/include/bs5.html}"></th:block>
        <link th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css}" rel="stylesheet" />
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{/js/datatables-simple-demo.js}"></script>
    </head>
    <body class="sb-nav-fixed">
        <input type="hidden" th:value="${_csrf.token}" name="csrfToken" id="csrfToken"/>
        <input type="hidden" th:value="${_csrf.headerName}" name="csrfHeader" id="csrfHeader"/>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" th:href="@{/}">Green Company</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" th:href="@{index}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Device Settings
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/admin/register-device}">Register Device</a>
                                    <a class="nav-link" th:href="@{/admin/setup-device}">Setup Device</a>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" th:href="@{/admin/charts}">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" th:href="@{/admin/tables}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Primary Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Warning Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="date-filter">
                                <label for="startDate">시작일:</label>
                                <input type="datetime-local" id="df_start-date" name="startDate">

                                <label for="lastDate">종료일:</label>
                                <input type="datetime-local" id="df_end-date" name="lastDate">

                                <button type="button" onclick="getChart()" class="btn btn-outline-success">조회</button>
                            </div>
                            <div class="col-xl-6" style="width: 100%;">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <div class="left">
                                            <i class="fas fa-chart-area me-1"></i>
                                            <span class="card-title"></span>
                                        </div>
                                        <div class="right">
                                            <select class="card-select">
                                                <option th:each="smySensor : ${summarySensors}" th:value="${smySensor.sensorName}" th:text="${smySensor.sensorName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="chart-failed" style="display: none;"></div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40px"></canvas></div>
                                </div>
                            </div>
                            <!--<div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>-->
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>센서</th>
                                            <th>최솟값</th>
                                            <th>평균값</th>
                                            <th>최댓값</th>
                                            <th>이벤트</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>번호</th>
                                            <th>센서</th>
                                            <th>최솟값</th>
                                            <th>평균값</th>
                                            <th>최댓값</th>
                                            <th>이벤트</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="sensor : ${summarySensors}">
                                            <td th:text="1"></td>
                                            <td th:text="${sensor.sensorName}"></td>
                                            <td th:text="${sensor.min}"></td>
                                            <td th:text="${sensor.mean}"></td>
                                            <td th:text="${sensor.max}"></td>
                                            <td th:text="${sensor.eventCnt}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <th:block layout:fragment="script">
            <script>
                var token;
                var header;
                let intervalId;

                var myLineChart = null; // 전역 Chart 인스턴스
                let chartToggle = true;
                let allSensorData = [];

                function updateSensorData(begin) {
                    if (!chartToggle) {
                        clearInterval(intervalId);
                        return;
                    }

                    let end = Date.now();
                    const time = Math.floor((end - begin) / 1000);

                $.ajax({
                    url: "/admin/updateSensorData",
                    type: "post",
                    data: { time: time },
                    beforeSend: function (xhr) { xhr.setRequestHeader(header, token); },
                    success: function (sensors) {
                        if (!sensors) {
                            $(".chart-failed").text("센서를 등록해주세요.").show();
                        } else {
                            let type = $('.card-select').val();

                            allSensorData.push(...sensors);

                            if (myLineChart) {
                                allSensorData.forEach(function (sensor) {
                                    let datetime = new Date(sensor.measureDatetime);
                                    let timeLabel = datetime.toLocaleTimeString();

                                    myLineChart.data.labels.push(timeLabel);
                                    myLineChart.data.datasets[0].data.push(sensor[type]);

                                    if (myLineChart.data.labels.length > 80) {
                                        myLineChart.data.labels.shift();
                                        myLineChart.data.datasets[0].data.shift();
                                    }
                                });
                            } else {
                                var ctx = document.getElementById("myAreaChart");
                                myLineChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: [],
                                        datasets: [{
                                            label: type,
                                            data: [],
                                            lineTension: 0.1,
                                            backgroundColor: "rgba(2,117,216,0.2)",
                                            borderColor: "rgba(2,117,216,1)",
                                            pointRadius: 0,
                                            pointBackgroundColor: "rgba(2,117,216,1)",
                                            pointBorderColor: "rgba(255,255,255,0.8)",
                                            pointHoverRadius: 5,
                                            pointHoverBackgroundColor: "rgba(2,117,216,1)",
                                            pointHitRadius: 50,
                                            pointBorderWidth: 2
                                        }]
                                    },
                                    options: {
                                        tooltips: { mode: 'nearest', intersect: true },
                                        animation: { duration: 0 },
                                        scales: {
                                            xAxes: [{
                                                type: 'category',
                                                gridLines: { display: false },
                                                ticks: { minRotation: 0, maxRotation: 0, maxTicksLimit: 7 }
                                            }],
                                            yAxes: [{
                                                ticks: { min: 0, max: 6000, maxTicksLimit: 5 },
                                                gridLines: { color: "rgba(0, 0, 0, .125)" }
                                            }],
                                        },
                                        legend: { display: true }
                                        }
                                    });
                                }
                                myLineChart.data.datasets[0].label = type;
                                myLineChart.update();
                            }
                        },
                        error: function () {
                            console.log("차트 데이터 전송 실패");
                        }
                    });
                }


                function getChart(){
                    let begin = $('#df_start-date').val();
                    let end = $('#df_end-date').val();

                    if(!begin || !end)
                        chartToggle = true;
                    else{
                         $.ajax({
                            url: "/admin/getChartByDateRange",
                            type: "post",
                            data: {
                                begin : begin,
                                end : end
                            },
                            beforeSend: function (xhr) { xhr.setRequestHeader(header, token); },
                            success: function (sensors) {
                                chartToggle = false;
                                if (myLineChart) {
                                    myLineChart.destroy();  // 기존 차트 완전 삭제
                                    myLineChart = null;
                                }

                                let dates = [];
                                let values = [];
                                let type = $('.card-select').val();

                                //데이터 300개 제한
                                const sMax = 300;
                                if (sensors.length > sMax) {
                                    for (let i = 0; i < sensors.length; i += Math.floor(sensors.length / sMax)) {
                                        const dt = new Date(sensors[i].measureDatetime).toLocaleString();
                                        dates.push(dt);
                                        values.push(sensors[i][type]);
                                    }
                                } else {
                                    sensors.forEach(sensor, index => {
                                        const dt = new Date(sensor.measureDatetime).toLocaleString();
                                        dates.push(dt);
                                        values.push(sensor[type]);
                                    });
                                }


                                 $('#myAreaChart').html('');
                                 var ctx = $('#myAreaChart');
                                 myLineChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: dates,
                                        datasets: [{
                                            label: type,
                                            data: values,
                                            lineTension: 0.1,
                                            backgroundColor: "rgba(2,117,216,0.2)",
                                            borderColor: "rgba(2,117,216,1)",
                                            pointRadius: 0,
                                            pointBackgroundColor: "rgba(2,117,216,1)",
                                            pointBorderColor: "rgba(255,255,255,0.8)",
                                            pointHoverRadius: 5,
                                            pointHoverBackgroundColor: "rgba(2,117,216,1)",
                                            pointHitRadius: 50,
                                            pointBorderWidth: 2
                                        }]
                                    },
                                    options: {
                                        tooltips: {
                                            mode: 'nearest',
                                            intersect: true
                                        },
                                        animation: {
                                            duration: 0,     // 0이면 애니메이션 없음
                                        },
                                        scales: {
                                            xAxes: [{
                                                type: 'category',
                                                gridLines: { display: false },
                                                ticks: {
                                                    maxTicksLimit: 7,
                                                    minRotation: 0,
                                                    maxRotation: 0

                                                }
                                            }],
                                            yAxes: [{
                                                ticks: {
                                                    min: 0,
                                                    max: 6000,
                                                    maxTicksLimit: 5
                                                },
                                                gridLines: {
                                                    color: "rgba(0, 0, 0, .125)",
                                                }
                                            }],
                                        },
                                        legend: {
                                            display: true
                                        }
                                    }
                                });
                            },
                            error: function(){

                            }
                        });
                    }
                }

                $(document).ready(function () {
                    token = document.getElementById('csrfToken').value;
                    header = document.getElementById('csrfHeader').value;

                    let begin = Date.now();  // 시작 시간

                     // 1. 최초 실행
                    updateSensorData(begin);

                    // 2. 이후 3초마다 실행
                    setInterval(function() {
                      updateSensorData(begin);
                    }, 3000);

                });

            </script>
        </th:block>
    </body>
</html>
