<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/exampleLayout}">

<div layout:fragment="content" class="container text-center">
  <h2><b>인사말</b></h2>
  <p><br/></p>
  <hr/>
  <p><br/></p>
  <h3>계속 갈망하고, 겸손 한 마음으로 도전에 임하는 전문 데이터베이스관리 기업</h3><br>
  <h1><b style="font-weight:bold; color:#4E71FF">주식회사 그린컴퍼니</b></h1>
  <p><br/></p>
  <p><br/></p>
  <div>
    <h5>2020년 02월에 설립하여 공공기관 및 국내 주요기업을 대상으로</h5><br>
    <h5><span style="font-weight:bold; color:#4E71FF">시스템통합(SI), 시스템관리(SM), 업무프로그램 개발 사업을 수행</span>하며</h5><br>
    <h5>축적된 기술력으로 최고수준의 IT TOTAL SERVICE를 제공하는</h5><br>
    <h5><span style="font-weight:bold; color:#4E71FF">소프트웨어 개발 전문 회사</span> 입니다.</h5>
  </div>
  <p><br/></p>
  <p><br/></p>
  <div>
    <h5>창조적인 사고와 혁신적인 가치창출을 통하여 고객의 성공을 보장하고,</h5><br>
    <h5>정보통신 기술의 발전과 미래를 주도하는 선도적인 기업을 목표로</h5><br>
    <h5>국내를 넘어서 세계를 향해 나아가는 기업이 되겠습니다.</h5>
  </div>
  <p><br/></p>
  <p><br/></p>
  <p><br/></p>
  <div>
    <a th:href="@{/}" class="btn btn-success">홈으로</a>
  </div>

</div>

</html>