<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/exampleLayout}"> <!-- 이 코드로 exampleLayout.html에 설정한 레이아웃 불러오기-->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<!--<th:block layout:fragment="script">-->
<!--    <script th:inline="javascript">-->
<!--        $(document).ready(function(){-->
<!--            let message = [[${message}]];-->
<!--            if(message != null){-->
<!--                alert(message);-->
<!--            }-->
<!--        });-->
<!--    </script>-->
<!--</th:block>-->
<!--exampleLayout.html 레이아웃에서 컨텐츠 부분에 이걸 대입 -->
<div layout:fragment="content" class="container text-center">
    <p><br/></p>
    <p><br/></p>
    <h1 th:text="${dto.companyName}"></h1>
    <p>사업자 등록번호: <span th:text="${dto.businessNumber}"></span></p>
    <p>CEO 이름: <span th:text="${dto.ceoName}"></span></p>
    <p>주소: <span th:text="${dto.address}"></span></p>
    <p>이메일: <span th:text="${dto.companyEmail}"></span></p>
    <p>전화번호: <span th:text="${dto.phoneNumber}"></span></p>
    <p>내용:</p>
    <span th:utext="${dto.companyContent}"></span>
    <div class="mb-5">
        <a th:href="@{/}" class="btn btn-success">홈으로</a>
    </div>
</div>

</html>