<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/exampleLayout}">

<th:block layout:fragment="script">

  <script>

  </script>
</th:block>>
<th:block layout:fragment="css">
  <style>
    .container {
      text-align: center;
      max-width: 1300px;
    }
    hr{
      text-align: center;
      margin: 0px auto;
    }
    .bodyText {
      text-align: center;
      margin: 0px auto;
    }
  </style>
</th:block>>


<div layout:fragment="content" class="container text-center">


  <div class="container text-center mb-3">
    <!-- 헤더 섹션 -->
    <div class="company-header p-4 mb-4">
      <div class="col-md-3 text-center">
        <img src="/images/enterprise/logo2.jpg" class="company-logo" style="width:1200px" alt="기업 로고">
      </div>
    </div>
    <p></p>
    <!-- 본문 섹션 -->
    <div class="p-4">
      <h3 style="color:green"><b>데이터 혁신을 선도하는 넥스트데이터</b></h3>
      <h5><em><span style="color:grey">넥스트데이터는 데이터 분석과 관리의 미래를 열어갑니다.</span></em></h5>
      <hr style="width:100px">
      <p><br></p>
      <div style="font-size:17px;color:#333" class="bodyText">넥스트데이터는 데이터 기반 의사결정을 지원하는 혁신적인 솔루션을 제공하는 기업입니다. 우리는 데이터 웨어하우스, 빅데이터 분석, 그리고 실시간 데이터 처리 서비스를 중심으로 고객의 비즈니스 가치를 극대화하고 있습니다. 설립 이후, 다양한 산업 분야에서의 경험을 바탕으로 고객 맞춤형 데이터 관리 솔루션을 개발하여, 복잡한 데이터 환경에서도 안정적이고 효율적인 운영을 보장하고 있습니다.</div>
      <div style="font-size:17px;color:#333" class="bodyText">우리는 제조업, 금융, 헬스케어, 소매업 등 다양한 분야에서 고객의 데이터 활용도를 높이는 데 기여하고 있으며, 지속적인 기술 혁신과 고객 중심의 서비스를 통해 데이터의 힘을 극대화하고 있습니다. 넥스트데이터와 함께라면, 데이터가 비즈니스의 새로운 기회를 창출하는 원동력이 될 것입니다.</div>
    </div>
    <p><br></p>
    <div class="row">
      <div class="col"><img src="/images/enterprise/2-6.png" alt="기업이미지" style="width:300px;height:300px"></div>
      <div class="col"><img src="/images/enterprise/2-6.png" alt="기업이미지" style="width:300px;height:300px"></div>
      <div class="col"><img src="/images/enterprise/2-6.png" alt="기업이미지" style="width:300px;height:300px"></div>
    </div>
    <p><br></p>
    <div class="row">
      <div class="col"><button type="button" class="btn btn-success">nextData for CDC</button><br><p></p><span style="color:#222;font-size:15px">실시간 DB 복제 솔루션</span></div>
      <div class="col"><button type="button" class="btn btn-success">nextData for IDL</button><br><p></p><span style="color:#222;font-size:15px">이기종 데이터 이관 솔루션</span></div>
      <div class="col"><button type="button" class="btn btn-success">nextData for ILM</button><br><p></p><span style="color:#222;font-size:15px">데이터 수명주기 관리 솔루션</span></div>
    </div >
    <p><br></p>
    <hr style="width:1000px">
    <p><br></p>

    <h3 style="margin-top:200px"><b>nextData 레퍼런스</b></h3>
    <hr style="width:100px">
    <p><br></p>
    <div class="row">
      <div class="col"><img src="/images/enterprise/2-1.png" alt="기업이미지" style="width:200px;height:150px"></div>
      <div class="col"><img src="/images/enterprise/2-2.png" alt="기업이미지" style="width:200px;height:150px"></div>
      <div class="col"><img src="/images/enterprise/2-3.png" alt="기업이미지" style="width:200px;height:150px"></div>
      <div class="col"><img src="/images/enterprise/2-4.png" alt="기업이미지" style="width:200px;height:150px"></div>
      <div class="col"><img src="/images/enterprise/2-5.png" alt="기업이미지" style="width:200px;height:150px"></div>
    </div>
    <p><br></p>
    <hr style="width:1000px">
    <p><br></p>

    <h2 style="color:grey;margin-top:100px"><b>Request More Information</b></h2>
    <div class="list-group justify-content-center" style="margin-top:100px;max-width:1300px">
      <a href="#" class="list-group-item" aria-current="true">
        <div class="justify-content-between">
          <h5 class="mb-1">CEO</h5>
          <small></small>
        </div>
        <p class="mb-1">김말숙</p>
        <small>chief executive officer</small>
      </a>
      <a href="#" class="list-group-item">
        <div class="justify-content-between">
          <h5 class="mb-1">Address</h5>
          <small class="text-body-secondary"></small>
        </div>
        <p class="mb-1">34672/대전 동구 판교1길 3</p>
        <small class="text-body-secondary"></small>
      </a>
      <a href="#" class="list-group-item">
        <div class="justify-content-between">
          <h5 class="mb-1">HomePage</h5>
          <small class="text-body-secondary"></small>
        </div>
        <p class="mb-1">nextData.next.com</p>
        <small class="text-body-secondary"></small>
      </a>
      <a href="#" class="list-group-item">
        <div class="justify-content-between">
          <h5 class="mb-1">Email</h5>
          <small class="text-body-secondary"></small>
        </div>
        <p class="mb-1">nextData@gmail.com</p>
        <small class="text-body-secondary"></small>
      </a>
      <a href="#" class="list-group-item">
        <div class="justify-content-between">
          <h5 class="mb-1">PhoneNumber</h5>
          <small class="text-body-secondary"></small>
        </div>
        <p class="mb-1">010-2222-3333</p>
        <small class="text-body-secondary"></small>
      </a>
      <a href="#" class="list-group-item">
        <div class="justify-content-between">
          <h5 class="mb-1">faxNumber</h5>
          <small class="text-body-secondary"></small>
        </div>
        <p class="mb-1">56123136654</p>
        <small class="text-body-secondary"></small>
      </a>
      <a href="#" class="list-group-item">
        <div class="justify-content-between">
          <h5 class="mb-1">Contact time</h5>
          <small class="text-body-secondary">lunchTime : PM 1:00~2:00</small>
        </div>
        <p class="mb-1">AM 10:00 ~ PM 6:00</p>
        <small class="text-body-secondary"></small>
      </a>
    </div>
    <!-- 푸터 섹션 -->
    <div class="company-footer text-center" style="background-color:#8DBCC7;color:white;margin-top:200px;padding:150px">
      <div class="">
        <p>제품 상담, 소개자료, 데모 요청 등 X-LOG에 대한 문의사항을 남겨주세요.</p>
        <button type="button" class="btn btn-outline-danger">문의하기</button>
      </div>
    </div>
  </div>
</div>
</html>