<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/exampleLayout}">

<th:block layout:fragment="script">

  <script>

  </script>
</th:block>>
<th:block layout:fragment="css">
  <style>
    .container {
      text-align: center;
      max-width: 1300px;
    }
    hr{
      text-align: center;
      margin: 0px auto;
    }
    .bodyText {
      text-align: center;
      margin: 0px auto;
    }
  </style>
</th:block>>


<div layout:fragment="content" class="container text-center">


  <div class="container text-center mb-3">
    <!-- 헤더 섹션 -->
    <div class="company-header p-4 mb-4">
      <div class="col-md-3 text-center">
        <img src="/images/enterprise/logo6.png" class="company-logo6" style="width:1200px" alt="기업 로고">
      </div>
    </div>
    <p></p>
    <!-- 본문 섹션 -->
    <div class="p-4">
      <h3 style="color:"><b>에코팜</b></h3>
      <h5><span style="color:grey">최고의 경쟁력을 보유한 글로벌 농산물 유통회사</span></h5>
      <hr style="width:100px">
      <p><br></p>


      <p><br></p>
      <div class="p-4">
        <h3 style="color:"><b>회사개요</b></h3>
        <p><br></p>
        <div style="font-size:17px;color:#333" class="bodyText">
          에코팜은 신선한 농산물 유통을 혁신하는 기업입니다.

          에코팜은 농산물의 생산부터 유통까지의 모든 과정을 데이터로 관리하여, 신선한 농산물을 소비자에게 신속하게 전달하는 것을 목표로 합니다. 우리는 농가와 소비자 간의 연결을 강화하고, 실시간 데이터 분석을 통해 유통 과정의 효율성을 높입니다. 고객의 요구에 맞춘 맞춤형 서비스와 데이터 기반의 의사결정 지원을 통해, 농업 생태계의 지속 가능한 발전에 기여하고 있습니다.</div>
        <p><br/></p>
        <div style="font-size:17px;color:#333" class="bodyText">
          에코팜은 앞으로도 소비자에게 최고의 가치를 제공하는 농산물 상품을 지속적으로 공급하는데 주력할 것 입니다. 더불어 자체 브랜드 농산물 유통, 농산물 수출 확대, 해외 현지 도매업 진출 등 연관 분야로 사업을 확대해 나가며 최고의 경쟁력을 보유한 글로벌 농산물 유통회사로 도약하겠습니다.
        </div>
      </div>
      <p><br></p>
      <div class="row">
        <div class="col"><img src="/images/enterprise/6-1.jpg" alt="기업이미지" style="width:300px;height:300px"></div>
        <div class="col"><img src="/images/enterprise/6-2.png" alt="기업이미지" style="width:300px;height:300px"></div>
        <div class="col"><img src="/images/enterprise/6-3.png" alt="기업이미지" style="width:300px;height:300px"></div>
      </div>
      <p><br></p>
      <p><br></p>
      <div class="col-md-3 text-center">
        <img src="/images/enterprise/6-5.png" style="width:1200px" alt="기업 로고">
      </div>
      <p><br></p>
      <h1 style="color:blue;margin-bottom:20px"><b>에코팜</b></h1>
      <p><br></p>
    <!-- 푸터 섹션 -->
      <div class="clearfix" style="margin-top:20px">
        <img src="/images/enterprise/6-4.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
        <p>
          창립 : 2002년 1월
        </p>
        <p>
          대표자 : 박구름
        </p>
        <p>
          주소 : 충남 논산시 광석면 사계로 680
        </p>
        <p>
          주요사업 : 신선농산물 종합도매사업, 농산물 수출입 사업, 토마토/파프리카 영농사업
        </p>
      </div>
      <div class="company-footer text-center" style="background-color:#16610E;color:white;margin-top:200px;padding:150px">
      <p>contact_at_<a href="http://www.dongbufarm.com/" target="_blank">동부팜(이미지/텍스트 출처)</a></p>
      </div>
    </div>
  </div>
</div>
</html>