<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/exampleLayout}">

<th:block layout:fragment="script">

  <script>

  </script>
</th:block>>
<th:block layout:fragment="css">
  <style>
    .container {
      text-align: center;
      max-width: 1300px;
    }
    hr{
      text-align: center;
      margin: 0px auto;
    }
    .bodyText {
      text-align: center;
      margin: 0px auto;
    }
  </style>
</th:block>>


<div layout:fragment="content" class="container text-center">


  <div class="container text-center mb-3">
    <!-- 헤더 섹션 -->
    <div class="company-header p-4 mb-4">
      <div class="col-md-3 text-center">
        <img src="/images/enterprise/logo3.jpg" class="company-logo" style="width:1200px" alt="기업 로고">
      </div>
    </div>
    <p></p>
    <!-- 본문 섹션 -->
    <div class="p-4">
      <h3 style="color:#0065F8"><b>데이터 솔루션의 미래, 데이터마스터</b></h3>
      <h5><em><span style="color:grey">데이터마스터는 당신의 데이터 파트너입니다.</span></em></h5>
      <hr style="width:100px">
      <p><br></p>
      <div style="font-size:17px;color:#333" class="bodyText">데이터마스터는 데이터 통합 및 관리 전문 기업으로, 고객의 데이터 생태계를 최적화하는 데 중점을 두고 있습니다. 우리는 클라우드 기반 데이터 관리 솔루션, 데이터 마이그레이션, 그리고 실시간 데이터 분석 서비스를 제공하여, 고객이 데이터에서 가치를 창출할 수 있도록 지원합니다.</div>
      <div style="font-size:17px;color:#333" class="bodyText">고객의 요구에 맞춘 유연한 솔루션과 함께, 데이터 보안 및 안정성을 최우선으로 고려하여, 다양한 산업 분야의 고객에게 신뢰할 수 있는 서비스를 제공합니다. 우리의 목표는 단순히 데이터를 저장하는 것이 아니라, 데이터를 통해 고객의 비즈니스 성장을 이끄는 것입니다. 데이터마스터와 함께라면, 데이터의 잠재력을 최대한 활용할 수 있습니다.</div>
    </div>
    <p><br></p>
    <div class="row">
      <div class="col"><img src="/images/enterprise/3-6.jpg" alt="기업이미지" style="width:300px;height:300px"></div>
      <div class="col"><img src="/images/enterprise/3-7.jpg" alt="기업이미지" style="width:300px;height:300px"></div>
      <div class="col"><img src="/images/enterprise/3-8.webp" alt="기업이미지" style="width:300px;height:300px"></div>
    </div>
    <p><br></p>
    <div class="row">
      <div class="col"><button type="button" class="btn btn-info">dataMaster for CDC</button><br><p></p><span style="color:#222;font-size:15px">실시간 DB 복제 솔루션</span></div>
      <div class="col"><button type="button" class="btn btn-info">dataMaster for IDL</button><br><p></p><span style="color:#222;font-size:15px">이기종 데이터 이관 솔루션</span></div>
      <div class="col"><button type="button" class="btn btn-info">dataMaster for ILM</button><br><p></p><span style="color:#222;font-size:15px">데이터 수명주기 관리 솔루션</span></div>
    </div >
    <p><br></p>
    <hr style="width:1000px">
    <p><br></p>

    <h3 style="margin-top:200px"><b>nextData 레퍼런스</b></h3>
    <hr style="width:100px">
    <p><br></p>
    <div class="row">
      <div class="col"><img src="/images/enterprise/3-1.png" alt="기업이미지" style="width:200px;height:150px"></div>
      <div class="col"><img src="/images/enterprise/3-2.png" alt="기업이미지" style="width:200px;height:150px"></div>
      <div class="col"><img src="/images/enterprise/3-3.png" alt="기업이미지" style="width:200px;height:150px"></div>
      <div class="col"><img src="/images/enterprise/3-4.png" alt="기업이미지" style="width:200px;height:150px"></div>
      <div class="col"><img src="/images/enterprise/3-5.png" alt="기업이미지" style="width:200px;height:150px"></div>
    </div>
    <p><br></p>
    <hr style="width:1000px">
    <p><br></p>

    <h2 style="color:grey;margin-top:100px"><b>Request More Information</b></h2>
    <div class="list-group justify-content-center" style="margin-top:100px;max-width:1300px">
      <a href="#" class="list-group-item" aria-current="true">
        <div class="justify-content-between">
          <h5 class="mb-1">CEO</h5>
          <small></small>
        </div>
        <p class="mb-1">이기자</p>
        <small>chief executive officer</small>
      </a>
      <a href="#" class="list-group-item">
        <div class="justify-content-between">
          <h5 class="mb-1">Address</h5>
          <small class="text-body-secondary"></small>
        </div>
        <p class="mb-1">02591/서울 동대문구 서울시립대로5길 2(전농동)3층 405호</p>
        <small class="text-body-secondary"></small>
      </a>
      <a href="#" class="list-group-item">
        <div class="justify-content-between">
          <h5 class="mb-1">HomePage</h5>
          <small class="text-body-secondary"></small>
        </div>
        <p class="mb-1">dataMaster.com</p>
        <small class="text-body-secondary"></small>
      </a>
      <a href="#" class="list-group-item">
        <div class="justify-content-between">
          <h5 class="mb-1">Email</h5>
          <small class="text-body-secondary"></small>
        </div>
        <p class="mb-1">dataMaster@gmail.com</p>
        <small class="text-body-secondary"></small>
      </a>
      <a href="#" class="list-group-item">
        <div class="justify-content-between">
          <h5 class="mb-1">PhoneNumber</h5>
          <small class="text-body-secondary"></small>
        </div>
        <p class="mb-1">010-3333-4444</p>
        <small class="text-body-secondary"></small>
      </a>
      <a href="#" class="list-group-item">
        <div class="justify-content-between">
          <h5 class="mb-1">faxNumber</h5>
          <small class="text-body-secondary"></small>
        </div>
        <p class="mb-1">56123136655</p>
        <small class="text-body-secondary"></small>
      </a>
      <a href="#" class="list-group-item">
        <div class="justify-content-between">
          <h5 class="mb-1">Contact time</h5>
          <small class="text-body-secondary">lunchTime : PM 1:00~2:00</small>
        </div>
        <p class="mb-1">AM 10:00 ~ PM 6:00</p>
        <small class="text-body-secondary"></small>
      </a>
    </div>
    <!-- 푸터 섹션 -->
    <div class="company-footer text-center" style="background-color:#0065F8;color:white;margin-top:200px;padding:150px">
      <div class="">
        <p>제품 상담, 소개자료, 데모 요청 등 X-LOG에 대한 문의사항을 남겨주세요.</p>
        <button type="button" class="btn btn-outline-danger">문의하기</button>
      </div>
    </div>
  </div>
</div>
</html>