<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/exampleLayout}">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - SB Admin</title>

    <th:block th:insert="~{/include/bs5.html}"></th:block>
    <link th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@0.5.7/chartjs-plugin-annotation.min.js}"></script>
    <script th:src="@{/js/datatables-simple-demo.js}"></script>
</head>

<th:block layout:fragment="css">
    <style th:inline="css">
        .bodyCenter{
            width: 90%;
            margin: 0px auto;
            display: flex;
        }

        .div-top{
            display: flex;
            justify-content: space-between;
        }

        .dashboard{
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 40px 30px;
        }

        .card-header{
          display: flex;
          justify-content: space-between;
        }
        .db-menu{
            width: 14%;
            border-right: 1px solid black;
            padding: 40px 20px;
            font-size: 18px;
            font-weight: bold;
        }
        .dashboard{
            width: 80%;
        }

        #apiTable{
            border-collapse: collapse;
            width: 480px;
            margin: 33px 40px;
        }
        #apiTable th, #apiTable td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }
        #apiTable th {
            background-color: #eee;
        }
        .chart-box{
            display: flex
        }
        .chart{
            width: 850px;
        }
        .db_nav a{
            margin-bottom: 25px;
        }
        .dv_nav li{
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
            background-color: #e8dcfd;
        }

        .dv_nav a:hover{
            background-color: #c7a6ff;
        }

        .db_main{
            padding: 30px 20px 0px 20px;
        }
;
    </style>
</th:block>

<div class="bodyCenter" layout:fragment="content">
    <div class="db-menu">
    <!-- tokens -->
    <div>
        <input type="hidden" th:value="${_csrf.token}" name="csrfToken" id="csrfToken"/>
        <input type="hidden" th:value="${_csrf.headerName}" name="csrfHeader" id="csrfHeader"/>
        <input type="hidden" th:value="${sName}" name="sName" id="sName"/>
    </div>
        <div class="nav-item db_nav">
            <a th:href="@{/professional/dashBoard}" class="dropdown-item">Dash Board</a>
            <a th:href="@{/professional/register-device}" class="dropdown-item">Register Device</a>
            <a th:href="@{/professional/setup-device}" class="dropdown-item">Setup Device</a>
        </div>
    </div>
    <div class="dashboard">
    <!-- nav -->
        <th:block th:if="${deviceCode == null}">
            <input type="hidden" th:value="${deviceCode[0]}" id="deviceCode"/>
            <ul class="nav nav-tabs dv_nav" id="device-nav" th:each="dc: ${deviceCode}">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="getDeviceCode(this)" th:text="${dc}"></a>
                </li>
            </ul>
        </th:block>

        <div class="div-top">
            <div class="left">
                <ul class="nav nav-tabs dv_nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">ㅇㅇㅇㅇㅇㅇㅇㅇㅇ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ㅇㅇㅇㅇㅇㅇㅇㅇㅇ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ㅇㅇㅇㅇㅇㅇㅇㅇㅇ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ㅇㅇㅇㅇㅇㅇㅇㅇㅇ</a>
                    </li>
                </ul>
            </div>
            <div class="right">
                <button type="button" class="btn btn-outline-primary" style="width: 65px; margin-right: 25px;" onclick="window.print()">인쇄</button>
            </div>
        </div>

        <div class="db_main">
    <!-- Chart -->
    <div class="row db-chart">
        <div id="date-filter">
            <label for="df_start-date">시작일:</label>
            <input type="datetime-local" id="df_start-date" name="startDate">

            <label for="df_end-date">종료일:</label>
            <input type="datetime-local" id="df_end-date" name="lastDate">

            <button type="button" onclick="getChart()" class="btn btn-outline-success">조회</button>
        </div>
        <div class="chart-box">
            <div class="col-xl-6 chart" style="width: 810px;">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="left">
                            <i class="fas fa-chart-area me-1"></i>
                            <span class="card-title" th:text="${sensorValue[0]}"></span>
                        </div>
                        <div class="right">
                            <select class="card-select">
                                <option th:each="sv : ${sensorValue}" th:value="${sv}" th:text="${sv}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="chart-failed" style="display: none;"></div>
                    <div class="card-body">
                        <canvas id="myAreaChart" width="810px" height="40px"></canvas>
                    </div>
                </div>
            </div>
            <div>
                <table id="apiTable">

                </table>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Sensor DataTable
        </div>
        <div class="card-body">
            <table id="datatablesSimple"  class="table table-bordered">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>센서</th>
                    <th>최솟값</th>
                    <th>평균값</th>
                    <th>최댓값</th>
                    <th>이벤트</th>
                </tr>
                </thead>
                <tbody class="sensor_table">
                    <tr>
                        <td>.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">센서 등록(excel)</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="file" name="fName" id="fName" class="form-control" accept=".csv"/>
                        <input type="button" value="변환후DB저장" onclick="fCheck()" class="btn btn-success"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- script  -->
    <th:block layout:fragment="script">
        <script>
            var token;
            var header;
            let intervalId;
            let sName = '';

            var myLineChart = null;
            let chartToggle = true;
            let deviceCode = '';

            let selectedValue = '';

            let lowThreshold = 0.0;
            let highThreshold = 0.0;

            let minChartValue = 0.0;
            let maxChartValue = 0.0;
            let realChartValue = 0;

            const customTextPlugin = null;

            $(document).ready(function () {
                token = document.getElementById('csrfToken').value;
                header = document.getElementById('csrfHeader').value;

                sName = $('#sName').val();
                deviceCode = $('#deviceCode').val();
                selectedValue = $('.card-select').val();

                //최초 실행
                getThreshold();       //임계값 받기
                updateSensorData("create");   //실시간 센서 데이터

                // 2. 이후 3초마다 실행
                setInterval(() => updateSensorData("update"), 1000);

                //Sensor type이 바뀌면
                $(".card-select").on("change", function() {
                  selectedValue = $('.card-select').val();

                  getThreshold();       //임계값 받기
                  if(myLineChart){
                    myLineChart.destroy();
                    myLineChart = null;
                   }

                  updateSensorData("create");
                });


            });

             function fCheck() {
                  let fileInput = $("#fName")[0];
                  if (fileInput.files.length > 0) {
                    let formData = new FormData();
                    formData.append("fName", fileInput.files[0]);

                    $.ajax({
                        url  : "/professional/updateSensorByExcel",
                        type : "post",
                        data : formData,
                        processData: false,
                        contentType: false,
                        beforeSend : function(xhr) { xhr.setRequestHeader(header, token); },
                        success:function(res) {
                          if(res != "0") {
                            alert("처리완료");
                          }
                          else alert("처리 실패~~");
                        },
                        error : function() { alert("전송오류!"); }
                    });
                  } else {
                    alert("파일을 선택해 주세요.");
                  }
                }

            function updateSensorData(drawType) {
                if (!chartToggle) {
                    clearInterval(intervalId);
                    return;
                }

                getSummarySensor(deviceCode);

                $.ajax({
                    url: "/professional/updateSensorData",
                    type: "post",
                    data: {
                      deviceCode : deviceCode,
                      type : drawType
                    },
                    beforeSend: function (xhr) { xhr.setRequestHeader(header, token); },
                    success: function (sensors) {
                        if (!sensors) {
                            $(".chart-failed").html(`
                                  <button data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    센서 등록(excel)
                                  </button>
                                `).show();
                        } else {
                            let type = $('.card-select').val();

                            if (myLineChart) {
                                sensors.forEach(function (sensor) {
                                    let datetime = new Date(sensor.measureDatetime);
                                    let timeLabel = datetime.toLocaleTimeString();

                                    myLineChart.data.labels.push(timeLabel);
                                    myLineChart.data.datasets[0].data.push(sensor[type]);

                                    if (myLineChart.data.labels.length > 3000) {
                                        myLineChart.data.labels.shift();
                                        myLineChart.data.datasets[0].data.shift();
                                    }

                                    if(sensor[type] < lowThreshold || sensor[type] < highThreshold){
                                        updateEventLog(datetime, type, deviceCode, sensor[type]);
                                    }
                                });
                            } else {
                                var ctx = document.getElementById("myAreaChart");
                                myLineChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: [],
                                        datasets: [{
                                            label: type,
                                            data: sensors[type],
                                            lineTension: 0.1,
                                            backgroundColor: "rgba(0,0,0,0)",
                                            borderColor: "rgba(2,117,216,1)",
                                            pointRadius: 0,
                                            pointBackgroundColor: "rgba(2,117,216,1)",
                                            pointBorderColor: "rgba(255,255,255,0.8)",
                                            pointHoverRadius: 5,
                                            pointHoverBackgroundColor: "rgba(2,117,216,1)",
                                            pointHitRadius: 10,
                                            pointBorderWidth: 1
                                        }]
                                    },
                                    options: {
                                       annotation: {
                                            annotations: [{
                                              type: 'line',
                                              mode: 'horizontal',
                                              scaleID: 'y-axis-0',
                                              value: lowThreshold, // 중앙값 (예: 기준선)
                                              borderColor: 'red',
                                              borderWidth: 1,
                                              label: {
                                                enabled: true,
                                                content: 'low('+lowThreshold+')',
                                                position: 'right',
                                                  // ✅ 깔끔한 스타일을 위한 설정
                                                  backgroundColor: 'transparent', // 배경 없애기
                                                  fontColor: 'red',               // 글자색
                                                  fontStyle: 'normal',
                                                  fontSize: 15,
                                                  xAdjust: -3,                    // 약간 왼쪽으로 이동
                                                  yAdjust: -10,
                                                  cornerRadius: 0,                // 박스 모서리 둥글기 제거
                                                  borderWidth: 0                  // 테두리 제거
                                              }
                                            },
                                            {
                                              type: 'line',
                                              mode: 'horizontal',
                                              scaleID: 'y-axis-0',
                                              value: highThreshold, // 중앙값 (예: 기준선)
                                              borderColor: 'red',
                                              borderWidth: 1,
                                              label: {
                                                enabled: true,
                                                content: 'high('+highThreshold+')',
                                                position: 'right',

                                                // ✅ 깔끔한 스타일을 위한 설정
                                                  backgroundColor: 'transparent', // 배경 없애기
                                                  fontColor: 'red',               // 글자색
                                                  fontStyle: 'normal',
                                                  fontSize: 15,
                                                  xAdjust: -3,                    // 약간 왼쪽으로 이동
                                                  yAdjust: -10,
                                                  cornerRadius: 0,                // 박스 모서리 둥글기 제거
                                                  borderWidth: 0                  // 테두리 제거
                                              }
                                            }]
                                          },
                                        tooltips: { mode: 'nearest', intersect: true },
                                        animation: { duration: 0 },
                                        scales: {
                                            xAxes: [{
                                                type: 'category',
                                                gridLines: { display: false },
                                                ticks: { minRotation: 0, maxRotation: 0, maxTicksLimit: 7 }
                                            }],
                                            yAxes: [{
                                                ticks: { min: minChartValue, max: maxChartValue, maxTicksLimit: 5 },
                                                gridLines: { color: "rgba(0, 0, 0, .125)" }
                                            }],
                                        },
                                        legend: { display: true }

                                        }
                                    });
                                }
                                myLineChart.data.datasets[0].label = type;

                                myLineChart.options.scales.yAxes[0].ticks.min = minChartValue;
                                myLineChart.options.scales.yAxes[0].ticks.max = maxChartValue;
                                myLineChart.options.scales.yAxes[0].ticks.maxTicksLimit = 5;

                                myLineChart.options.annotation.annotations[0].value = lowThreshold;
                                myLineChart.options.annotation.annotations[0].label.content = 'low(' + lowThreshold + ')';
                                myLineChart.options.annotation.annotations[1].value = highThreshold;
                                myLineChart.options.annotation.annotations[1].label.content = 'high(' + highThreshold + ')';

                                myLineChart.update();
                            }
                        },
                        error: function () {
                            console.log("차트 데이터 전송 실패");
                        }
                    });
                }


            function getChart(){
                let begin = $('#df_start-date').val();
                let end = $('#df_end-date').val();

                getSummarySensor(deviceCode);
                getThreshold();

                if(!begin || !end)
                    chartToggle = true;
                else{

                     $.ajax({
                        url: "/professional/getChartByDateRange",
                        type: "post",
                        data: {
                            deviceCode : deviceCode,
                            begin : begin,
                            end : end
                        },
                        beforeSend: function (xhr) { xhr.setRequestHeader(header, token); },
                        success: function (sensors) {
                            console.log(sensors);

                            chartToggle = false;
                            if (myLineChart) {
                                myLineChart.destroy();  // 기존 차트 완전 삭제
                                myLineChart = null;
                            }

                            let dates = [];
                            let values = [];
                            let type = $('.card-select').val();

                            getThreshold();
                            getSummarySensor(deviceCode);

                            //데이터 300개 제한
                            const sMax = 300;
                            if (sensors.length > sMax) {
                                for (let i = 0; i < sensors.length; i += Math.floor(sensors.length / sMax)) {
                                    const dt = new Date(sensors[i].measureDatetime).toLocaleString();
                                    dates.push(dt);
                                    values.push(sensors[i][type]);
                                }
                            } else {
                                sensors.forEach((sensor, index) => {
                                    const dt = new Date(sensor.measureDatetime).toLocaleString();
                                    dates.push(dt);
                                    values.push(sensor[type]);
                                });
                            }


                             $('#myAreaChart').html('');
                             var ctx = $('#myAreaChart');
                             myLineChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: dates,
                                    datasets: [{
                                        label: type,
                                        data: values,
                                        lineTension: 0.1,
                                        borderColor: "rgba(2,117,216,1)",
                                        pointRadius: 0,
                                        pointBackgroundColor: "rgba(2,117,216,1)",
                                        pointBorderColor: "rgba(255,255,255,0.8)",
                                        pointHoverRadius: 5,
                                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                                        pointHitRadius: 20,
                                        pointBorderWidth: 1
                                    }]
                                },
                                options: {
                                     annotation: {
                                            annotations: [{
                                              type: 'line',
                                              mode: 'horizontal',
                                              scaleID: 'y-axis-0',
                                              value: lowThreshold, // 중앙값 (예: 기준선)
                                              borderColor: 'red',
                                              borderWidth: 1,
                                              label: {
                                                enabled: true,
                                                content: 'low('+lowThreshold+')',
                                                position: 'right',
                                                  // ✅ 깔끔한 스타일을 위한 설정
                                                  backgroundColor: 'transparent', // 배경 없애기
                                                  fontColor: 'red',               // 글자색
                                                  fontStyle: 'normal',
                                                  fontSize: 15,
                                                  xAdjust: -3,                    // 약간 왼쪽으로 이동
                                                  yAdjust: -10,
                                                  cornerRadius: 0,                // 박스 모서리 둥글기 제거
                                                  borderWidth: 0                  // 테두리 제거
                                              }
                                            },
                                            {
                                              type: 'line',
                                              mode: 'horizontal',
                                              scaleID: 'y-axis-0',
                                              value: highThreshold, // 중앙값 (예: 기준선)
                                              borderColor: 'red',
                                              borderWidth: 1,
                                              label: {
                                                enabled: true,
                                                content: 'high('+highThreshold+')',
                                                position: 'right',

                                                // ✅ 깔끔한 스타일을 위한 설정
                                                  backgroundColor: 'transparent', // 배경 없애기
                                                  fontColor: 'red',               // 글자색
                                                  fontStyle: 'normal',
                                                  fontSize: 15,
                                                  xAdjust: -3,                    // 약간 왼쪽으로 이동
                                                  yAdjust: -10,
                                                  cornerRadius: 0,                // 박스 모서리 둥글기 제거
                                                  borderWidth: 0                  // 테두리 제거
                                              }
                                            }]
                                          },
                                    tooltips: {
                                        mode: 'nearest',
                                        intersect: true
                                    },
                                    animation: {
                                        duration: 200,     // 0이면 애니메이션 없음
                                    },
                                    scales: {
                                        xAxes: [{
                                            type: 'category',
                                            gridLines: { display: false },
                                            ticks: {
                                                maxTicksLimit: 7,
                                                minRotation: 0,
                                                maxRotation: 0

                                            }
                                        }],
                                        yAxes: [{
                                            ticks: {
                                                min: minChartValue,
                                                max: maxChartValue,
                                                maxTicksLimit: 5
                                            },
                                            gridLines: {
                                                color: "rgba(0, 0, 0, .125)",
                                            }
                                        }],
                                    },
                                    legend: {
                                        display: true
                                    }
                                }
                            });
                        },
                        error: function(){

                        }
                    });
                }
            }

            function getThreshold(){
                $.ajax({
                  url: "/professional/getThreshold",
                  type: "POST",
                  data: {
                    deviceCode: deviceCode,
                    companyId: sName,
                    type: selectedValue
                  },
                  beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                  },
                  success: function(threshold) {
                    if (threshold) {
                         lowThreshold = threshold.low;
                         highThreshold = threshold.high;
                    }
                  },
                  error: function(err) {
                    console.error("에러 발생", err);
                  }
                });
              }

            function getSummarySensor(deviceCode) {
                $.ajax({
                    url: "/professional/getSummarySensors",
                    type: "POST",
                    data: {
                        deviceCode: deviceCode
                    },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(summarySensors) {
                        let html = '';

                        if(!summarySensors){
                            html += `<tr><td>서비스에 가입해주세요.</td></tr>`;
                        }
                        else{
                            summarySensors.forEach(function(summarySensor, index) {
                                // 차트 Y값 설정
                                if(summarySensor.sensorName == selectedValue){
                                    let lineLength = summarySensor.stats.max - summarySensor.stats.min;

<!--                                    minChartValue = Math.min(lowThreshold, summarySensor.stats.min);-->
<!--                                    maxChartValue = Math.max(highThreshold, summarySensor.stats.max);-->
<!--                                    realChartValue = Math.abs(maxChartValue) + Math.abs(minChartValue);-->

<!--                                    maxChartValue = realChartValue + Math.abs(realChartValue/2);-->
<!--                                    minChartValue = maxChartValue - Math.abs(maxChartValue * 2);-->
                                    let center = summarySensor.stats.max - Math.abs(lineLength/2);
                                    maxChartValue = center + summarySensor.stats.max;
                                    minChartValue = center - Math.abs(summarySensor.stats.max);
                                   }

                                html += `
                                    <tr>
                                        <td>${index + 1}</td>
                                        <td>${summarySensor.sensorName}</td>
                                        <td>${(summarySensor.stats.min).toFixed(2)}</td>
                                        <td>${(summarySensor.stats.count === 0 ? 0 : summarySensor.stats.sum / summarySensor.stats.count).toFixed(2)}</td>
                                        <td>${(summarySensor.stats.max).toFixed(2)}</td>
                                        <td>${summarySensor.eventCnt}</td>
                                    </tr>
                                `;
                            });
                        }

                       $("#datatablesSimple tbody").html(html);
                    },
                    error: function(err) {
                        console.error("에러 발생", err);
                    }
                });
            }

          function getDeviceCode(element){
            deviceCode = $(element).text();

            if (myLineChart) {
              myLineChart.destroy();
              myLineChart = null;
            }

            getThreshold();
            updateSensorData("create");
          }

    function createEventLog(time, type, deviceCode, data){
        $.ajax({
            url  : "/professional/createEventLog",
            type : "post",
            data : {time: time, type: type, deviceCode: deviceCode, data: data} ,
            processData: false,
            contentType: false,
            beforeSend : function(xhr) { xhr.setRequestHeader(header, token); },
            success:function(res) {
              if(res != "0") {
                alert(type+"가 임계값을 벗어났습니다("+time+")");
              }
              else console.log("event_log 저장 실패");
            },
            error : function() { alert("전송오류!"); }
        });

    }


    API_URL = 'http://apis.data.go.kr/6430000/realtimeStandbyInfoService/getRealtimeStandbyInfo?serviceKey=25dB2HLk%2FnXLEM5tsaYjAahwEUzZgYn1ReLe98LeWhGwQBxtXzIgcNEAq1d6X5P5HFiiK%2Bd3x%2Bszc%2BVbpOkodA%3D%3D&currentPage=1&perPage=10&CODE=533112'; // ✅ 여기에 실제 API 주소 입력

   fetch(API_URL)
    .then(response => response.json())
    .then(data => {
        const body = data.body;
        const table = document.querySelector("#apiTable");

        // 기존 테이블 초기화
        table.innerHTML = "";

        // 새 구조: tbody 없이 전체를 새로 만듦
        const headers = {
            TIME: "TIME",
            SO2: "SO₂",
            MINU: "PM10",
            OZ: "O₃",
            NO2: "NO₂",
            CMO: "CO",
            ULFPTC: "초미세먼지"
        };

        // tbody 생성
        const tbody = document.createElement("tbody");

        // body[0] 기준으로 세로 행 생성
        const item = body[0];

        for (const key in headers) {
            const row = document.createElement("tr");
            row.innerHTML = `
                <th>${headers[key]}</th>
                <td>${item[key]}</td>
            `;
            tbody.appendChild(row);
        }

        table.appendChild(tbody);
    })
    .catch(error => {
        console.error("API 호출 실패:", error);
        document.querySelector("#apiTable").innerHTML = "<tr><td colspan='2'>데이터 로드 실패</td></tr>";
    });



        </script>
    </th:block>
</div>

</html>