<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/exampleLayout}">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Register Device</title>
  <th:block th:insert="~{/include/bs5.html}"></th:block>
  <link th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
  <script th:src="@{/js/scripts.js}"></script>
  <script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js}"></script>
  <script th:src="@{/js/datatables-simple-demo.js}"></script>
</head>

<th:block layout:fragment="css">
  <style th:inline="css">
    .bodyCenter {
        width: 80%;
        margin: 0px auto;
    }
  </style>
</th:block>

<div class="bodyCenter" layout:fragment="content" >
  <!-- tokens -->
  <div>
    <input type="hidden" th:value="${_csrf.token}" name="csrfToken" id="csrfToken"/>
    <input type="hidden" th:value="${_csrf.headerName}" name="csrfHeader" id="csrfHeader"/>
    <input type="hidden" th:value="${sName}" name="sName" id="sName"/>
  </div>

  <div class="cp_pf-nav">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="nav-item">
          <a th:href="@{/professional/dashBoard}" class="dropdown-item">Dash Board</a>
          <a th:href="@{/professional/register-device}" class="dropdown-item">Register Device</a>
          <a th:href="@{/professional/setup-device}" class="dropdown-item">Setup Device</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">

      <form id="sensor-form" method="post" action="/professional/setup-device">
        <input type="hidden" th:value="${sName}" name="companyId" id="companyId"/>
        <input type="hidden" th:value="${sName}" name="updatedBy" id="updatedBy"/>
        <input type="hidden" th:value="${deviceCode[0]}" name="deviceCode" id="deviceCode"/>

        <!-- nav -->
        <ul class="nav nav-tabs" id="device-nav" th:each="dc: ${deviceCode}">
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="getDeviceCode(this)" th:text="${dc}"></a>
          </li>
        </ul>

        <button type="submit" class="btn btn-success" id="input_btn" style="display: none;">저장</button>

        <table class="table table-hover" id="table_threshold">
          <thead>
            <tr>
              <th scope="col">센서</th>
              <th scope="col">평균값</th>
              <th scope="col">상한 임계값</th>
              <th scope="col">하한 임계값</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <th:block layout:fragment="script">
    <script>
      var token;
      var header;
      let deviceCode = '';
      let sName = '';


      $(document).ready(function () {
        token = document.getElementById('csrfToken').value;
        header = document.getElementById('csrfHeader').value;

        deviceCode = $('#deviceCode').val();

        sName = $('#sName').val();

        thresholdGet();
      });

      function thresholdGet(){
        $.ajax({
          url: "/professional/getThresholdList",
          type: "POST",
          data: {
            deviceCode: deviceCode,
            companyId: sName
          },
          beforeSend: function(xhr) {
            xhr.setRequestHeader(header, token);
          },
          success: function(thresholds) {
              console.log("thresholds : " +thresholds);
              let html = '';

            if (!thresholds || thresholds.length === 0) {
              html += `<tr><td colspan="4">장비를 등록해주세요.</td></tr>`;
            } else {
                  thresholds.forEach(function(threshold, index) {
                      html += `<tr>
                                  <td> <input type="hidden" value="${threshold.idx}" name="idxItems"/></td>
                                  <td><input type="text" name="sensorNameItems" value="${threshold.sensorName}" readonly class="no-border form-control"></td>
                                  <td><input type="number" name="meanItems" value="${threshold.mean}" readonly class="no-border form-control"></td>
                                  <td><input type="number" name="highNameItems" value="${threshold.high}" class="form-control"></td>
                                  <td><input type="number" name="lowNameItems" value="${threshold.low}" class="form-control"></td>
                               </tr>`;
                    });
            }

            $("#table_threshold tbody").html(html);
            $('#input_btn').show();
          },
          error: function(err) {
            console.error("에러 발생", err);
          }
        });
      }

      function getDeviceCode(element){
            deviceCode = $(element).text();
            $('#deviceCode').val(deviceCode);

            thresholdGet();
       }
    </script>
  </th:block>
</div>
</html>